<?xml version="1.0"?>
<config>
	<modules>
		<Pxn_Customlog>
			<version>1.0.0</version>
		</Pxn_Customlog>
	</modules>
	<global>
		<helpers>
			<customlog>
				<class>Pxn_Customlog_Helper</class>
			</customlog>
		</helpers>
		<blocks>
            <pxn_customlog>
               <class>Pxn_Customlog_Block</class>
            </pxn_customlog>
        </blocks>
		<models>
            <customlog>
	            <class>Pxn_Customlog_Model</class>
      			<resourceModel>customlog_resource</resourceModel>
            </customlog>
            <customlog_resource>
	            <class>Pxn_Customlog_Model_Resource</class>
                <entities>
                    <customlog>
                        <table>pxn_customlog</table>
                    </customlog>
                </entities>
            </customlog_resource>
        </models>
		<resources>
            <pxn_customlog_setup>
                <setup>
                    <module>Pxn_Customlog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pxn_customlog_setup>
        </resources>
	</global>
	<admin>
		<routers>
			<customlog>
				<use>admin</use>
				<args>
					<module>Pxn_Customlog</module>
					<frontName>customlog</frontName>
				</args>
			</customlog>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<pxncustomlog>
											<title>Pxn - All</title>
										</pxncustomlog>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<pxncustomlog>
			<pxn_autocleaning>                
				<pxn_active>1</pxn_active>
				<pxn_days>30</pxn_days>
			</pxn_autocleaning>      
		</pxncustomlog>
	</default>
</config>
